parameters:
    clock-in.activity: 0

services:

    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services; this also means
        # fetching services directly from the container via $container->get() won't work.
        # The best practice is to be explicit about your dependencies anyway.

        bind:
#            $projectDirectory: "%kernel.project_dir%"
#            $hardLimit: "%kimai.timesheet.active_entries.hard_limit%"

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    LDuer\KimaiClockInBundle\:
        resource: '../../*'
        exclude: '../../{DependencyInjection,Entity,Migrations,Tests}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    LDuer\KimaiClockInBundle\Controller\:
        resource: '../../Controller/*'
        tags: ['controller.service_arguments']

#    LDuer\KimaiClockInBundle\Controller\ClockInController:
#        arguments:
##            $clockInActivity: "%clock-in.activity%"

    # ================================================================================
    # SERVICES
    # ================================================================================

    LDuer\KimaiClockInBundle\ClockIn\Service:
        arguments:
            $clockInActivityId: "%clock-in.activity%"

    # ================================================================================
    # REPOSITORIES
    # ================================================================================

    LDuer\KimaiClockInBundle\Repository\LatestActivityRepository:
        class:     Doctrine\ORM\EntityRepository
        factory:   ['@doctrine.orm.entity_manager', getRepository]
        arguments: ['LDuer\KimaiClockInBundle\Entity\LatestActivity']